@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground: 222.2 84% 4.9%;
    --background: 0 0% 99.2%;
    --accent: 255, 255, 255;
    --destructive: 0 84.2% 60.2%;
    --primary: 221.2 83.2% 53.3%;
    --accent: 210 40% 96.1%;
  }

  .dark {
      --foreground: 210 40% 98%;
      --background: 222.2 84% 4.9%;
      --destructive: 0 62.8% 30.6%;
      --primary: 217.2 91.2% 59.8%;
      --accent: 217.2 32.6% 17.5%;
  }
}

@layer base {
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }
}  